:root{
    --black: #0F0F0F;
    --teal: #008170;
    --mint: #64CCC5;
    --sea: #DAFFFB;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    margin-inline: 100px;
}

nav{
    background-color: var(--black);
    color: var(--teal);
    padding-block: 20px;
    position: fixed;
    width: 100%;
}

nav .container{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    margin-left: auto;
}

nav li a{
    color: #64CCC5;
    text-decoration: none;
    margin-inline: 10px;
    font-size: 20px;
}

#home{
    background-color: var(--teal);
    text-align: center;
    padding-block: 100px;
}

#home img{
    width: 200px;
    border-radius: 100%;
    border: solid 1px;
}

#home h1{
    font-size: 40px;
    margin-block: 10px;
}

#home h4{
    font-size: 25px;
    font-weight: 200;
}

section{
    padding-block: 30px;
}

.title{
    font-size: 35px;
    text-align: center;
    margin-block: 40px;
}

#about {
    background-color: var(--mint);
}

#about p{
    font-size: 20px;
    text-align: center;
    padding-inline: 250px;
}

#experience{
    background-color: var(--sea);
}

.card-container{
    display: flex;
    gap: 20px;
}

.card-container h1{
    text-align: center;
}

.card-container p{
    text-align: justify;
}

.card{
    background-color: var(--mint);
    border-radius: 10px;
}

.card-text{
    padding: 20px;
}

.card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

#skill {
    background-color: var(--mint);
}

#skill .box-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#skill .box{
    background-color: var(--sea);
    padding: 30px;
    border-radius: 10px;
    border:solid 1px #0F0F0F;
    width: 300px;
}

#skill .box h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

#skill .box li{
    font-size: 20px;
}

#contact{
    background-color: var(--sea);
}
.sosmed img{
    width: 50px;
}

.sosmed .box-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.sosmed .box{
    display: flex;
    align-items: center;
    background-color: var(--mint);
    padding: 20px;
    gap: 10px;
    border: solid 1px #0F0F0F;
    border-radius: 10px;
    width: 200px;
}

.sosmed .box:hover{
     background-color: var(--sea);
}

.sosmed .box p{
    font-size: 20px;
}

#contact input{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-block: 10px;
    border: solid 1px #0F0F0F;
}

#contact form{
    padding-inline: 300px;
}

#contact label{
    font-weight: 600;
}

#contact button{
    display: block;
    margin-inline: auto;
    padding: 15px 40px;
    border-radius: 10px;
    border: solid 1px #0F0F0F;
    font-size: 20px;
    margin-top: 20px;
}

footer{
    text-align: center;
    background-color: var(--black);
    color: #008170;
    padding: 20px;
}